<div class="w3-row-padding w3-center w3-animate-left" style="background: rgb(243, 240, 240); padding: 15px;"
     xmlns="http://www.w3.org/1999/html">
    <div class="w3-quarter w3-center" style="margin:15px 0px; min-width: 300px;">
        <a href="https://www.ug.edu.gh/" target="_blank"><img src="/res/ug_logo2.png" alt="" style="margin:-30px 0px; max-width: 300px;"></a>
    </div>

    <div class="w3-quarter w3-animate-left" style="margin:15px;   max-width: 80%; min-width: 2%;">
        <a href="https://www.iastate.edu/" target="_blank"><img src="/res/isu-stacked.svg" width="200px" alt=""></a>
    </div>
    <div class="w3-quarter w3-center w3-animate-left" style="margin:15px; max-width: 80%; min-width: 15%; background: #ababac; padding: 20px 20px;">
        <a href="https://www.mcgill.ca/" target="_blank"><img src="/res/mcgill.svg" width="200px" alt=""></a>
    </div>
</div>



<div  style="background:#a87037; color:#000033">
    <div class="w3-row w3-center" style="background:#a87037; min-height: 300px; opacity:0.9; color:#000033; padding-top: 10px;">
        <div class="w3-col m12 l3" >
            <h2 class="w3-animate-top">Quick Links</h2>
            <p class="w3-animate-bottom" ><a href="contact" class="w3-hover-text-white" style="text-decoration: none; ">Contact Us</a></p>
            <p class="w3-animate-bottom"><a href="about" class="w3-hover-text-white" style="text-decoration: none">About Us</a></p>
            <p class="w3-animate-bottom"><a href="news" class="w3-hover-text-white" style="text-decoration: none">News</a></p>
            <p class="w3-animate-bottom"><a href="gallery" class="w3-hover-text-white" style="text-decoration: none">Gallery</a> </p>
        </div>
        <div class="w3-col m12 l3 w3-center">
            <div class="middle-footer">
                <h2 class="w3-animate-top">Contact Info</h2>
                <p style="padding:0px 0" class="w3-animate-bottom">+233 (0) 30 234 4567</p>
                <p style="padding:5px 0" class="w3-animate-bottom">ugnrtc@ug.edu.gh</p>
            </div>
        </div>
        <div class="w3-col m12 l6 w3-center" style="padding:0px 80px">
            <h2 class="w3-animate-top">Subscribe To Our Newsletter</h2>
            <form action="/subscribe" method="POST" class="w3-animate-bottom">
                 <input type="text"  name="some" placeholder="Email" class="w3-input" style=" margin:10px;">
                <input type="submit"  value="Submit"  class="w3-button w3-block w3-section  w3-ripple w3-padding" style=" margin:10px;color:#fff;background:#000033;">
            </form>

        </div>
    </div>
    <div class="w3-container w3-center w3-animate-opacity"  >
        <div><span>©</span> 2019 Nutrition Research And Training center</div>
        <div>Design by <a href="http://winteckgh.com" target="_blank"> Winteckgh</a>
            <span></span>
            <span style="margin-left:20px" class="fa fa-facebook w3-hover-text-white" ></span>
            <span style="margin-left:20px" class="fa fa-twitter w3-hover-text-white"></span>
            <span  style="margin-left:20px"class="fa fa-linkedin w3-hover-text-white"></span></div>
    </div>
</div>