
<div style="margin-bottom: -18px;" class="w3-animate-top">
    <div class="w3-bar w3-white w3-border w3-card-4 w3-padding-32">
        <img src="/res/NRTCb.png" style="width:220px; height: 110px; margin:-30px 30px" alt="" >
        <a href="contact" class="w3-bar-item w3-button w3-hide-medium w3-hide-small w3-right w3-hover-light-grey  w3-hover-text-brown  ">Contact Us</a>

        <div class="w3-dropdown-hover w3-right w3-hide-medium w3-hide-small">
            <button class="w3-button">Our Research <i class="fa fa-caret-down"></i></button>
            <div class="w3-dropdown-content w3-bar-block w3-card-4 w3-animate-opacity">
                <a href="fundedResearch" class="w3-bar-item w3-button">Funded Research</a>
                <a href="studentResearch" class="w3-bar-item w3-button">Student Research</a>
            </div>
        </div>
        <a href="training" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-light-grey  w3-hover-text-brown ">Training</a>
        <a href="news" class="w3-bar-item w3-button w3-hide-medium w3-hide-small w3-right w3-hover-light-grey   w3-hover-text-brown  ">News & Opportunities</a>
        <a href="gallery" class="w3-bar-item w3-button w3-hide-medium w3-hide-small w3-right w3-hover-light-grey   w3-hover-text-brown  ">Gallery</a>
        <a href="about" class="w3-bar-item w3-button w3-hide-medium w3-hide-small w3-right w3-hover-light-grey   w3-hover-text-brown ">About Us</a>
        <a href="index" class="w3-bar-item w3-button w3-hide-medium w3-hide-small w3-hover-light-grey  w3-right  w3-hover-text-brown w3-brown">Home</a>
        <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large " onclick="myFunction()">&#9776;</a>
    </div>
    <div id="demo" class="w3-bar-block w3-hide w3-hide-large  " style="position: absolute; background:#a87037; z-index: 1; margin-top:0px; width:100%;" >
        <a href="index" class="w3-bar-item w3-button w3-brown">Home</a>
        <a href="about" class="w3-bar-item w3-button">About Us</a>
        <a href="gallery" class="w3-bar-item w3-button  ">Gallery</a>

        <a href="news" class="w3-bar-item w3-button ">News & Opportunities</a>

        <a href="training" class="w3-bar-item w3-button ">Training</a>
        <div class="w3-dropdown-hover  w3-mobile" style="padding:-60px 0px;">
            <button class="w3-button">Our Research <i class="fa fa-caret-down"></i></button>
            <div class="w3-dropdown-content w3-bar-block w3-card-4 w3-animate-opacity">
                <a href="fundedResearch" class="w3-bar-item w3-button">Funded Research</a>
                <a href="studentResearch" class="w3-bar-item w3-button">Student Research</a>
            </div>
        </div>

        <a href="contact" class="w3-bar-item w3-button">Contact Us</a>
    </div>
</div>