<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name='description' content='University of Ghana Nutrition Research and Training Center (NRTC) is a research and training center established under the Department of Nutrition and Food Science, College of Basic & Applied Sciences, University of Ghana. NRTC aims at bringing together researchers from a wide range of disciplines to tackle the complex barriers to optimal nutrition and health. '>
    <meta name='keywords' content='Nrtc, Nrtcgh, nrtcgh, nrtc, UG, University of Ghana, Nutrition Research and Training Center, University of Ghana Nutrition Research and Training Center, The International Dietetic Internship in Community Nutrition, DFATD funded Nutrition Links project, Dietetic services to the Asesewa District Hospital'>
    <link rel="stylesheet" href="/css/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet'>
    <link rel="shortcut icon" type="/png" href="/res/logo.jpg"/>
    <title>NRTC.com</title>
    <style type="css/text">

    </style>
</head>
<body style="font-family: 'Abel';font-size: 22px;">


<div style="margin-bottom: -18px;" class="w3-animate-top">
    <div class="w3-bar w3-white w3-border w3-card-4 w3-padding-32">
        <a href="/">  <img src="/res/NRTCb.png" style="width:220px; height: 110px; margin:-30px 30px" alt="" > </a>
        <a href="contact" class="w3-bar-item w3-button w3-hide-medium w3-hide-small w3-right w3-hover-light-grey  w3-hover-text-brown  ">Contact Us</a>

        <div class="w3-dropdown-hover w3-right w3-hide-medium w3-hide-small">
            <button class="w3-button">Our Research <i class="fa fa-caret-down"></i></button>
            <div class="w3-dropdown-content w3-bar-block w3-card-4 w3-animate-opacity">
                <a href="fundedResearch" class="w3-bar-item w3-button">Funded Research</a>
                <a href="studentResearch" class="w3-bar-item w3-button">Student Research</a>
            </div>
        </div>
        <a href="training" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-light-grey  w3-hover-text-brown ">Training</a>
        <a href="news" class="w3-bar-item w3-button w3-hide-medium w3-hide-small w3-right w3-hover-light-grey   w3-hover-text-brown  ">News & Opportunities</a>
        <a href="gallery" class="w3-bar-item w3-button w3-hide-medium w3-hide-small w3-right w3-hover-light-grey   w3-hover-text-brown  ">Gallery</a>
        <a href="about" class="w3-bar-item w3-button w3-hide-medium w3-hide-small w3-right w3-hover-light-grey   w3-hover-text-brown w3-brown ">About Us</a>
        <a href="index" class="w3-bar-item w3-button w3-hide-medium w3-hide-small w3-hover-light-grey  w3-right  w3-hover-text-brown ">Home</a>
        <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large " onclick="myFunction()">&#9776;</a>
    </div>
    <div id="demo" class="w3-bar-block w3-hide w3-hide-large  " style="position: absolute; background:#a87037; z-index: 1; margin-top:0px; width:100%;" >
        <a href="index" class="w3-bar-item w3-button ">Home</a>
        <a href="about" class="w3-bar-item w3-button w3-brown">About Us</a>
        <a href="gallery" class="w3-bar-item w3-button  ">Gallery</a>

        <a href="news" class="w3-bar-item w3-button ">News & Opportunities</a>

        <a href="training" class="w3-bar-item w3-button ">Training</a>
        <div class="w3-dropdown-hover  w3-mobile" style="padding:-60px 0px;">
            <button class="w3-button">Our Research <i class="fa fa-caret-down"></i></button>
            <div class="w3-dropdown-content w3-bar-block w3-card-4 w3-animate-opacity">
                <a href="fundedResearch" class="w3-bar-item w3-button">Funded Research</a>
                <a href="studentResearch" class="w3-bar-item w3-button">Student Research</a>
            </div>
        </div>

        <a href="contact" class="w3-bar-item w3-button">Contact Us</a>
    </div>
</div>

<div class="w3-content w3-display-container"></div>

<h1 style=" margin: 30px 40px;margin-top: 60px;color:#000033;" class="w3-center w3-xxlarge w3-border-bottom w3-border-gray">Overview</h1>

<div class="w3-row-padding" style="display: flex; flex-wrap: wrap;">
    <div class="w3-half" style="flex-grow: 1; flex-basis: 450px;">
        <img style="width:100%; margin: 20px 0px; max-height: 400px;" src="/res/founders.jpg" >
    </div>
    <div class="w3-half" style="flex-grow: 1;" >
        <div style="width:100%; min-height: 400px;">
            <h2 style="color:#000033;">Who We Are</h2>
            <p>
                The NRTC is a collaboration involving Universities (University of Ghana, McGill University and Iowa State University), Non-Governmental institution (Plan Ghana), and local organizations (Upper Manya-Krobo District Assembly, Chief and Elders of Asesewa).
                NRTC was founded by Prof.Anna Lartey (University Of Ghana) and Prof. Grace Marquis (Mc Gill University - Canada). Funding for the building of the first phase of Center came from a partial grant from the Global Livestock Collaborative Research Support Program (GL-CRSP), USAID and from other funds raised through the University of Ghana.  The Center was opened on July 29, 2010.

            </p>
        </div>
    </div>
</div>


<div class="w3-row-padding w3-light-gray" style="display: flex; flex-wrap: wrap;">
    <div class="w3-half" style="flex-grow: 1; flex-basis:450px ">

        <h2 style="color:#000033;">NRTC Main Aims</h2>
        <p>
            The Centre serves as an instruction site for different needs:
        <ol type="a">
            <li>Train graduate students in field methods for nutrition</li>
            <li>Offer training opportunities for foreign students who want developing country experience by doing research in rural communities</li>
            <li>Provide refresher courses for professionals working in fields linked to nutrition (e.g. nurses, doctors, agriculturists and community extension workers). Short training courses will allow such professionals to update their knowledge in nutrition</li>
            <li>Serve as a training site for caregivers by providing the support and skills needed to improve the diets of their young children.</li>
        </ol>

        </p>


    </div>
    <div class="w3-half w3-hide-small w3-medium-small" style="flex-grow: 1; margin: 27px 0px">
        <img src="/res/office.jpg" style="width:100%" alt="">
    </div>
</div>

<div class="w3-row" style="display: flex; padding-top: 20px; flex-wrap: wrap;">
    <div class="w3-col m6 l3" style="flex-grow: 1; flex-basis: 450px;">

        <div style="padding-top: 55px; color:#000033;" class=" w3-xxlarge w3-center">Programs & Activities</div>
    </div>
    <div class="w3-col m6 l6" style="flex-grow: 1;" >
        <div style="width:100%; min-height: 200px;">

            <div class="">
                <ol type="a">
                    <li>	The International Dietetic Internship in Community Nutrition</li>
                    <li>	Site for student thesis research  projects</li>
                    <li>	DFATD funded Nutrition Links project</li>
                    <li>	Dietetic services to the Asesewa District Hospital</li>
                </ol>
            </div>
        </div>
    </div>
</div>


<% include ./partials/footer.ejs%>


<script>
    function myFunction() {
        var x = document.getElementById("demo");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }
</script>

</body>
</html>
