<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name='description' content='University of Ghana Nutrition Research and Training Center (NRTC) is a research and training center established under the Department of Nutrition and Food Science, College of Basic & Applied Sciences, University of Ghana. NRTC aims at bringing together researchers from a wide range of disciplines to tackle the complex barriers to optimal nutrition and health. '>
    <meta name='keywords' content='Nrtc, Nrtcgh, nrtcgh, nrtc, UG, University of Ghana, Nutrition Research and Training Center, University of Ghana Nutrition Research and Training Center, The International Dietetic Internship in Community Nutrition, DFATD funded Nutrition Links project, Dietetic services to the Asesewa District Hospital'>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google-site-verification" content="2VzAsXj0wUxbDBGa1zyKUuztqUq-fDMj0uDmv1mfyM0" />
    <link rel="stylesheet" href="/css/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet'>
    <link rel="shortcut icon" type="/png" href="/res/logo.jpg"/>
    <title>NRTC.com</title>
    <style type="css/text">

    </style>
</head>
<body style="font-family: 'Abel';font-size: 22px;">

    
<% include ./partials/header.ejs%>



</div>
<div class="w3-content w3-display-container"></div>
<div class="w3-content w3-section w3-medium-small w3-hide-small" style="max-width:100%; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; border-bottom: 5px solid grey ">
    <img class="mySlides" src="/res/programs.jpeg" style="width:100%; max-height: 600px; margin-top: 0px">
    <img class="mySlides" src="/res/banner2.jpg" style="width:100%; max-height: 600px; margin-top: 0px">
    <img class="mySlides" src="/res/lab.JPG" style="width:100%; max-height: 600px; margin-top: 0px">
</div>

<div class="w3-row-padding" style="display: flex; flex-wrap: wrap;">
    <div class="w3-half" style="flex-grow: 1; flex-basis: 450px;">
        <img style="width:100%; margin: 27px 0px; max-height: 400px;" src="/res/opening2.JPG" >
    </div>
    <div class="w3-half" style="flex-grow: 1;" >
        <div style="width:100%; min-height: 400px;">
            <h2 style="color:#000033;">University of Ghana Nutrition Research and Training Center (NRTC)</h2>
            <p>
                University of Ghana Nutrition Research and Training Center (NRTC) is a research and training center established under the Department of Nutrition and Food Science, College of Basic & Applied Sciences, University of Ghana. NRTC aims at bringing together researchers from a wide range of disciplines to tackle the complex barriers to optimal nutrition and health.
                The Center was opened on July 29, 2010.
                NRTC offers:
            <ul>
                <li>An innovative 4-week <a class="w3-hover-text-gray" style="color:brown" href="/training">training programme</a> in community nutrition for dietetic interns.</li>
                <li>Training opportunity for students(International & local), who want to do research in rural communities in developing countries.</li>
                <li>Provison of refresher courses for professionals working in nutrition- related  fields.</li>
                <li>A training site for caregivers of young children by providing skills and support needed to improve diet.</li>
                <li>Dietetic services to the Asesewa Government Hospital.</li>
            </ul>
            </p>
        </div>
    </div>
</div>

<div class="w3-container  w3-light-gray">
    <div class="w3-border-bottom" style="width:100%; height: 70px; padding: 10px 0; margin-bottom: 5px;">
        <h2 class="w3-left w3-text-teal">Highlights</h2> <a href="/news" class="w3-button w3-border w3-right">View All</a></div>
    <div class="w3-light-gray" style="display: flex;  width:500px;flex-wrap: wrap;padding-top:45px; padding-bottom:30px;">
        <% 
        
        for(var i=0; i < 3; i++) {
            
            if(blogdata[i] != null) { %>
            
                
           

                
      
        <div class="w3-third w3-margin" style="flex-basis:400px; flex-grow:1">
            <div class="w3-card w3-white" style=" margin-bottom: 20px;">
                <div style="margin:0px">
                    <img src="<%= blogdata[i].blogimage %>" style="width:100%; height: 250px;" alt="">
                    <p class="w3-container">
                       <%= blogdata[i].message.slice(0, 150); %>
                            ...
                    </p>

                    <header class="w3-container ">
                        
                         <a href= "/news/<%= blogdata[i].id %> " class="w3-button w3-border w3-border-brown w3-hover-light-gray w3-hover-text-black w3-hover-border-black" style="color:brown; margin-bottom: 30px" href= "" >READ MORE</a>
                    </header>
                </div>
            </div>
        </div>
         
   <%} }%>

    </div>
</div>

<div class="w3-row-padding" style="display: flex; flex-wrap: wrap;">
    <div class="w3-half" style="flex-grow: 1; flex-basis:450px ">

        <h1 style="color:#000033;">Our Training and Facilities</h1>
        <p>Our Training is an innovative 4-week training programme in community nutrition for dietetic interns.
            <br/> The program is offered twice a year: </p>
        <ul>
            <li> May/June</li>
            <li>October/November</li>
        </ul>
        <p>
            The Facilities at the Center include:
        <ul>
            <li>	Main Block: offices- 8 rooms , a conference room, library, social room and demonstration kitchen</li>
            <li>	A 3-bedroom bungalow for resource persons</li>
        </ul>

        </p>

        <a href="/training" class="w3-button w3-border w3-border-brown w3-hover-light-gray w3-hover-text-black w3-hover-border-black" style="color:brown; margin-bottom: 30px">READ MORE</a>
    </div>
    <div class="w3-half w3-hide-small w3-medium-small" style="flex-grow: 1; margin: 27px 0px">
        <img src="/res/facility.jpg" style="width:100%" alt="">
    </div>
</div>
<div class="w3-hide-small w3-display-container w3-text-white" style="margin: 50px 0px; background: rgb(51, 50, 50);">
    <img src="/res/building1.jpg" alt="Lights" style="width:100%; opacity: 0.8; max-height: 450px; ">
    <div class="w3-padding w3-display-middle w3-large w3-center">
        <p style="font-size:1.7em; color:rgb(253, 253, 253);
           line-height:1.1;">University of Ghana Nutrition Research and Training Center (NRTC)
        </p>
    </div>
</div>

<% include ./partials/footer.ejs %>



<script>
    var myIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) {myIndex = 1}
        x[myIndex-1].style.display = "block";
        setTimeout(carousel, 4000); // Change image every 2 seconds
    }
</script>

<script>
    function myFunction() {
        var x = document.getElementById("demo");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }
</script>


</body>
</html>
