<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/w3.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet'>
    <link rel="shortcut icon" type="/png" href="/res/logo.jpg"/>
    <title>NRTC.com</title> 

    </style>
</head>
<body style="font-family: 'Abel';font-size: 22px;">

<div style="margin-bottom: -18px;" class="w3-animate-top">
    <div class="w3-bar w3-white w3-border w3-card-4 w3-padding-32"> 
            <a href="/">  <img src="/res/NRTCb.png" style="width:220px; height: 110px; margin:-30px 30px" alt="" > </a>
            <a href="contact" class="w3-bar-item w3-button w3-hide-medium w3-hide-small w3-right w3-hover-light-grey  w3-hover-text-brown ">Contact Us</a>

            <div class="w3-dropdown-hover w3-right w3-hide-medium w3-hide-small">
                <button class="w3-button">Our Research <i class="fa fa-caret-down"></i></button>
                <div class="w3-dropdown-content w3-bar-block w3-card-4 w3-animate-opacity">
                    <a href="fundedResearch" class="w3-bar-item w3-button ">Funded Research</a>
                    <a href="studentResearch" class="w3-bar-item w3-button ">Student Research</a>
                </div>
            </div>
            <a href="training" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-light-grey  w3-hover-text-brown  w3-brown ">Training</a>
            <a href="news" class="w3-bar-item w3-button w3-hide-medium w3-hide-small w3-right w3-hover-light-grey   w3-hover-text-brown  ">News & Opportunity</a>
            <a href="gallery" class="w3-bar-item w3-button w3-hide-medium w3-hide-small w3-right w3-hover-light-grey   w3-hover-text-brown  ">Gallery</a>
            <a href="about" class="w3-bar-item w3-button w3-hide-medium w3-hide-small w3-right w3-hover-light-grey   w3-hover-text-brown ">About Us</a>
            <a href="index" class="w3-bar-item w3-button w3-hide-medium w3-hide-small w3-hover-light-grey  w3-right  w3-hover-text-brown ">Home</a>
            <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large " onclick="myFunction()">&#9776;</a>
       
    </div>
    <div id="demo" class="w3-bar-block w3-hide w3-hide-large  " style="position: absolute; background:#a87037; z-index: 1; margin-top:0px; width:100%;" >
        <a href="index" class="w3-bar-item w3-button ">Home</a>
        <a href="about" class="w3-bar-item w3-button">About Us</a>
        <a href="gallery" class="w3-bar-item w3-button  ">Gallery</a>

        <a href="news" class="w3-bar-item w3-button ">News & Opportunities</a>

        <a href="training" class="w3-bar-item w3-button w3-brown">Training</a>
        <div class="w3-dropdown-hover  w3-mobile" style="padding:-60px 0px;">
            <button class="w3-button">Our Research <i class="fa fa-caret-down"></i></button>
            <div class="w3-dropdown-content w3-bar-block w3-card-4 w3-animate-opacity">
                <a href="fundedResearch" class="w3-bar-item w3-button">Funded Research</a>
                <a href="studentResearch" class="w3-bar-item w3-button">Student Research</a>
            </div>
        </div>

        <a href="contact" class="w3-bar-item w3-button">Contact Us</a>
    </div>
</div>

<h1 style=" margin: 30px 40px;margin-top: 60px;color:#000033;" class="w3-center w3-xxlarge w3-border-bottom w3-border-gray">Training Programs</h1>

<div class="w3-content w3-display-container">
    <div class="w3-row-padding" style="display: flex; flex-wrap: wrap;">
            <div class="w3-half" style="flex-grow: 1;" >
                <div style="width:100%; min-height: 400px;">
                    <h2 style="color:#000033;">THE INTERNATIONAL COMMUNITY NUTRITION ROTATION FOR DIETETIC INTERNS FROM GHANA AND NORTH AMERICA: </h2>
                        <h2><u>Introduction</u></h2> 
                        <p>
                        The mission of the UG Nutrition Research and Training Centre is to be a center for food and nutrition-related research and training in Africa, 
                        bringing together researchers from a wide range of disciplines to tackle the complex barriers to optimal nutrition and health. In view of this, 
                        an agreement between University of Ghana, McGill University, and Iowa State University led to the development of a program that provides intensive 
                        training for dietetic interns who received their basic training in North America and Ghana.
                        
                        <h2><u>A.	Group internship:</u></h2>
                        
                        <p>This is an innovative 4-week training programme in community nutrition for dietetic interns.  The programme started with students from three universities 
                            (i.e., Iowa State University – USA, McGill University - Canada and the University of Ghana) as participants. However, after the first two rotations, 
                            it is mainly interns from ISU and UG who have participated in the programme.The program is offered twice a year: <strong style="color:#000033;">May/June</strong> and<strong> October/November.</strong>
                            The first training program started in May 2012.To date we have organized many successful rotations and is currently
                            preparing to host another on ,<span class="w3-text-red"> <%= data.trainingDate %> </span>. UG preceptors provide the following:  </p>
                    
                            <ul style="list-style-type: upper-alpha;">
                                <li>Planning, implementation, and evaluation of interns’ experiences during the period of the rotation. Written evaluations are provided to the Dietetic Internship faculty using forms provided by ISU Dietetic Internship.
                                </li>
                                <li>An orientation that includes: a copy of the pertinent rules and regulations with which the Intern is expected to comply; a tour of the facilities where the Intern will be learning; the philosophy of interaction with the target population of the University of Ghana; and other topics that will allow the Intern a quality learning experience during the internship.
                                </li>
                                <li>Observational opportunities and practical experiences to benefit the learning of interns and agrees to adhere to the Internship policy that “students in supervised practice programs shall not routinely replace employees except for planned professional staff experiences.”
                                </li>
                            </ul>
                    </p>
                    <h2><i><u>Financial responsibilities of the parties</u></i></h2>
                    <p>
                        University of Ghana usually provides ISU with an invoice pertaining to the agreed upon cost of programme per intern about three months prior to the agreed upon start date. ISU then pays money to the UG and this is credited to the 
                        Programme’s account for the running of the rotation. This fee provides for the expenses related to student intern participation while in Ghana including lodging, transportation within Ghana for scheduled events, supplies, group meals,
                        group related incidentals, on-site supervision, and staff support during the Dietetic Internship and the University of Ghana Affiliation Fee covering expenses for University of Ghana facilities’ use.  It is understood by the Parties 
                        that the fee may change related to expenses incurred.  Any increase must be agreed upon by both Parties by January 1 of the year for the Spring experience and June 1 of the year for the Fall experience.
                    </p>
                </div>
            </div> 
        </div>
    </div>      
<div class=" w3-row-padding w3-light-gray" style="display: flex; flex-wrap: wrap;">
    <div class="w3-content w3-display-container">
            <div class="w3-third" style="flex-grow: 1; margin: 27px 0px; flex-basis:450px ">

                <h2 style="color:#000033;">Training Comprises:</h2>
                <p>
                <ul>
                    <li> Lectures and Field trip</li>
                    <li>Community projects</li>
                    <li>Tourist sites </li>
                </ul>
                </p>
            </div>
            <div class="w3-twothird" style="flex-grow: 1; margin: 27px 0px; padding:0 10px; border-left: 2px solid gray;">
                <h2 style="color:#000033;">Training focus:</h2>
                <p style="text-align: justify;">
                    This internship fosters intercultural learning, team building and social interactions and is designed to offer both theory and hands training on nutritional assessment of children under 5 years.  The rotation trains interns to use the nutritional care process to examine the nutritional problems of children less than five years and plan an intervention to address the problem identified. The community experience is interspersed with visits to tourist sites in Ghana.
                    It is clear that the programme fills an important gap in rural community nutrition training for dietetic interns in Ghana as well as their colleagues from North America.


                </p>
            </div>
        </div>
</div> 
                        <!-- <p>
                        This internship fosters intercultural learning, team building and social interactions and is designed to offer both theory and hands training on nutritional assessment of children under 5 years.  The rotation trains interns to
                        use the nutritional care process to examine the nutritional problems of children less than five years and plan an intervention to address the problem identified. The community experience is interspersed with visits to tourist
                        sites in Ghana. The program normally provide one meal per day, and the interns take care of the other meals themselves. However, during the last week of the program (closing ceremony is usually on Thursday), no meal will be 
                        provided on the Monday and Tuesday. This is to get interns to use up foods they still have in stock. We therefore engage the services of a caterer who stays at the Centre throughout the period that interns stay at Asesewa to
                        ensure that the programme meals are prepared on time. We have a good working relationship with this caterer and her team ensures that the individual food allergies of interns are taken into consideration.
                    </p> -->
            <div class="w3-content w3-display-container">
                <h3><strong> Cost not covered by program</strong></h3>
                <ul>
                    <li>Interns, while in Accra will be able to buy food items from the supermarkets to use for breakfast & supper when in Asesewa. 
                        </li>
                    <li>The Program will arrange & cover transportation costs for all scheduled activities.
                        </li>
                        <li>The program will normally cover all hostel/hotel costs up to 2 nights after the formal closure of the program. For example, 
                            when the program closes on Thursday we will cover accommodation up to Saturday noon.
                        </li>
                        <li>The program will not pay for purchase of fabrics, or any costs associated with hiring the services of a seamstress.
                        </li>
                        <li>Personal items such as gifts or artifacts will not be covered by the program.
                        </li>
                </ul>

                    <p>It is clear that the programme fills an important gap in rural community nutrition training for dietetic and nutrition interns
                        in Ghana as well as the counter parts from North America.   Feedback from students on 
                        this program has been very positive. </p>
            

                        <h2><u>B. Individualized Internship:</u></h2>

                        <p>In 2019, NRTC started an individualized form of dietetic internship rotation with interns from McGill University. Interested 
                            students at McGill were attached to the NRTC for six weeks, working directly with the Resident Dietitian. To ensure that 
                            interns had community engagement during the internship (based on the needs expressed by McGill), interns’ experiences are in three main areas:</p>
                            <ul style="list-style-type: lower-alpha;">
                                <li>Clinical care under the direct supervision of the Resident Dietitian
                                </li>
                                <li>Nutrition education and evaluation of knowledge among Secondary level non-science students
                                </li>
                                <li>Attachment to researchers based at NRTC for research experience 
                                </li>
                            </ul>
                            
                            <p>Interns’ activities were interspersed with trips to some tourist sites. Because the numbers are very small, 
                                the interns take care of all their meals themselves. Again, the report from the first batch has been very 
                                positive and shows that the programme is able to fill this important gap in rural community </p>

                </div>
            </div>
    </div>
<div>
    
</div>
</div>





<div class="w3-container" style="height:30px;"></div>

<% include ./partials/footer.ejs%>

<script>
    function myFunction() {
        var x = document.getElementById("demo");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }
</script>

</body>
</html>